*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-moz-selection {
    color: white;
    background-color: black;
}

*::selection {
    color: white;
    background-color: black;
}

html,
body {
  overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Notable', sans-serif;
    font-weight: 500;
}

select {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

/* global <a> tag styling */

a{
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    position: relative;
}

a:active{
    opacity: .8;
}

a::after{
    content: "";
    position: absolute;
    background-color: #0a0a0a;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .2s linear;
}

a:hover::after{
    transform: scaleX(1);
}

a:active:after{
    transform: scaleX(1);
    background-color: #4790d0;
    height: 5px;
}

/* nav */

.nav__container {
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.nav__item {
    list-style: none;
    margin-left: 30px;
}

.nav__item:first-child{
    margin-left: 0;
}

.nav__hamburger {
    position: relative;
    display: none;
}

.nav__hamburger {
    background-color: black;
    height: 2px;
    width: 40px;
    margin-top: 6px;
    transition: transform .2s linear, opacity .2s linear;
    z-index: 5;
}

.nav__hamburger:first-of-type{
    margin-top: 0;
}

.nav__hamburger:nth-of-type(2){
    transform-origin: left;
}

.nav__hidden-btn:checked ~ .nav__hamburger {
  opacity: 1;
  transform: rotate(45deg) translate(6px,5px);
}

.nav__hidden-btn:checked ~ .nav__hamburger:nth-of-type(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__hidden-btn:checked ~ .nav__hamburger:last-of-type {
  transform:  rotateZ(-45deg) translate(6px,-5px);
}

.nav__hidden-btn{
    display: none;
}

/* layouts */

.flexbox__layout{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* footer */

.footer__container{
    width: calc(100% - 400px);
    padding: 20px 5px;
}

.cookie-statement__container{
    width: 400px;
    opacity: .5;
    color: #FFF;
    background-color:#FA0;
    padding: 20px 5px;
    text-align: center;
    z-index: 9999;
    position: fixed;
    right: 0;
    bottom: 0;
}

/* header */

.header__container{
    width: 100%;
    text-align: center;
}

.header__title,
.header__payoff{
    font-size: 5vmin;
}

.header__logo{
    max-width: 100px;
}

/* index page */

.video__container{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video__view{
    display: block;
    width: 100%;
    max-width:930px;
    margin-bottom: 10px;
}

.video__link{
    margin-bottom: 20px;
    text-align: center;
}

.article__container{
    width: calc(100% - 400px);
    padding: 0 20px;
}

.article__title {
    margin-bottom: 20px;
}

.article__intro{
    margin-bottom: 20px;
}

.article__text{
    margin-bottom: 20px;
}

.article__text a{
    display: inline-block;
}

.article__image{
    float: right;
    display: inline;
    margin: 0 auto;
}

.aside__container{
    width: 100%;
    max-width: 400px;
    padding-left: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}

.aside__list{
    width: 100%;
}

.aside__container +h4{
    margin-bottom: 10px;
    color: #4d9add;
}

.aside__item{
    margin-bottom: 10px;
}

/* howsolarworks page */

.grid__layout-howsolarworks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header__howsolarworks{
    grid-column: 1/4;
    grid-row: 1/4;
}

.nav__howsolarworks{
    grid-column: 1/4;
    grid-row: 4/5;
}

.howsolarworks__article{
    letter-spacing: normal;
    line-height: normal;
    text-indent: 2em;
    word-spacing: normal;
}

.howsolarworks__article::first-letter{
    color: #4997db;
}

#article__1{
    grid-column: 2/3;
    grid-row: 5/11;
}
#article__2{
    grid-column: 1/2;
    grid-row: 5/7;
}
#article__3{
    grid-column: 3/4;
    grid-row: 5/8;
}
#article__4{
    grid-column: 3/4;
    grid-row: 8/11;
}
#article__5{
    grid-column: 1/2;
    grid-row: 7/12;
}
#article__6{
    grid-column: 2/4;
    grid-row: 11/12;
}

.howsolarworks__aside{
    grid-row: 12/14;
    grid-column: 2/3;
}

.howsolarworks__aside a{
    width: 100px;
    display: block;
    margin: 0 auto;
}

.howsolarworks__aside a img{
    width: 100%;
    display: block;
}

.howsolarworks__aside:first-of-type{
    grid-column: 1/2;
}

.howsolarworks__aside:last-of-type{
    grid-column: 3/4;
}

.howsolarworks__footer {
    grid-column: 1/3;
    grid-row: 14/16;
    width: 100%;
}

/* eusolar page */

.eusolar__maincontent{
    display: grid;
    grid-template-columns: 1fr 300px;
    position: relative;
    padding: 0 5%;
}

.eusolar__aside-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;
    padding: 0px 10px;
}

.eusolar__aside{
    width: 100%;
    margin-bottom: 50px;
}

.eusolar__aside h4{
    text-align: center;
    margin-bottom: 10px;
}

.eusolar__aside:last-of-type{
    margin-bottom: 0;
}

.eusolar__aside a{
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.eusolar__aside a img{
    width: 100%;
}

.eusolar__table-container{
    width: 100%;
}

.eusolar__table { 
    border-collapse:collapse; 
    margin: 0 auto;
}
.eusolar__table th { 
    background-color:#080808;
    color:white;
}
.eusolar__table td, 
.eusolar__table th { 
    padding:5px;
    border-color: #0c0c0c; 
    border-width: 1px;
    border-style: double;
}

.eusolar__table tr > td{
    min-width: 70px;
    text-align: right;
}

.eusolar__table .table__header{
    text-align: left;
    background-color: black;
    color: white;
    border-color: #ffffff;
}

.table__header td:first-child{
    color:  #FF0;
}

.eusolar__table .align-left{
    text-align: left;
    background-color: #f0f0f0;
    font-weight: 600;
}

.eusolar__table-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 896px;
    margin: 0 auto;
}

.eusolar__table-footer p{
    background-color: #4790d0;
    padding: 2rem 0;
    color: white;
    border: 1px solid black;
    border-top: none;
    width: 100%;
    text-align: center;
}

.eusolar__table-intro-mobile{
    text-align: center;
    display: none;
}

.eusolar__data-article-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 10px;
}

.eusolar__table-intro{
    display: block;
    text-align: center;
    margin-bottom: .3em;
    font-size: 28px;
}

.eusolar__data-article p{
    text-align: center;
}

/* contact page */

.contact__information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

.contact__information h3{
    margin-bottom: 10px;
}

.contact__maincontent{
    display: grid;
    grid-template-columns: 1fr 300px;
    padding: 0 5%;
}

.contact__aside-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0;
    padding: 0px 10px;
}

.form__fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #4790d0;
    color: #4790d0;
    margin: 20px 0;
}

.form__legend{
    font-weight: 900;
}

.form__label{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    font-weight: 600;
}

.form__label:first-of-type{
    margin-top: 10px;
}

.form__input{
    margin-top: 5px;
    border-radius: 0;
}

.form__fieldset label textarea{
    height: 150px;
}

.submit__btn{
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    background-color: #4790d0;
    border: none;
    padding: 5px 0px;
    color: white;
    text-transform: uppercase;
    transition: all .2s linear;
    cursor: pointer;
    border: 2px solid #4790d0;
}

.submit__btn:focus{
    background-color: white;
    color: #428dce;
}

.submit__btn:hover{
    background-color: white;
    color: #4d98da;
}

.contact__aside{
    width: 100%;
    margin-bottom: 50px;
}

.contact__aside h4{
    text-align: center;
    margin-bottom: 10px;
}

.contact__aside:last-of-type{
    margin-bottom: 0;
}

.contact__aside a{
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.contact__aside a img{
    width: 100%;
}

/* responsive content */

/* desktop */

@media only screen and (min-width: 1180px){
    body{
        background-color: #fffffe;
    }
}

/* tablet */
@media only screen and (max-width: 1179px) {

    /* footer */

    .footer__container{
        width: calc(100% - 200px);
    }

    .cookie-statement__container{
        width: 200px;
    }

    /* index page */

    .article__container{
        width: 100%;
        order: 5;
    }
    
    .aside__container{
        width: 100%;
        max-width: unset;
        padding: 0 20px;
        padding-left: 36px;
        order: 3;
    }

    .article__image{
        float: left;
    }
    
    .video__container{
        order: 4;
    }

    .flexbox__footer{
        order: 6;
    }

    .flexbox__cookie-statement{
        order: 7;
    }

    /* howsolarworks page */

    .grid__layout-howsolarworks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .header__howsolarworks{
        grid-column: 1/3;
        grid-row: 1/4;
    }
    
    .nav__howsolarworks{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    
    #article__1{
        grid-column: 1/2;
        grid-row: 5/7;
    }
    #article__2{
        grid-column: 2/3;
        grid-row: 5/8;
    }
    #article__3{
        grid-column: 1/2;
        grid-row: 7/11;
    }
    #article__4{
        display: none;
    }
    #article__5{
        grid-column: 2/3;
        grid-row: 8/11;
    }
    #article__6{
        grid-column: 1/3;
        grid-row: 11/13;
    }
    
    .howsolarworks__aside{
        grid-row: 13/15;
        grid-column: 2/3;
    }
    
    .howsolarworks__aside:first-of-type{
        grid-column: 1/2;
    }
    
    .howsolarworks__aside:last-of-type{
        display: none;
    }
    
    .howsolarworks__footer {
        grid-column: 1/2;
        grid-row: 15/17;
        width: 100%;
    }

    /* eusolar page */
    .eusolar__maincontent{
        grid-template-columns: 1fr;
    }

    .eusolar__aside-container{
        flex-direction: row;
    }

    .eusolar__aside:first-child{
        display: none;
    }
    .eusolar__table tr td:nth-child(2),
    .eusolar__table tr td:nth-child(3){
        display: none;
    }
    .eusolar__table tr > td{
        min-width: unset;
    }
    .eusolar__table-footer{
        max-width: 716px;
    }
    .eusolar__maincontent{
        padding: 10px;
    }
      /* contact */
    
      .contact__maincontent{
        grid-template-columns: 1fr 200px;
    }
}

/* mobile */
@media only screen and (max-width: 480px) {

    .page-start-section{
        display: flex;
    }

    /* footer */

    .footer__container{
        width: calc(100% - 150px);
    }

    .cookie-statement__container{
        width: 150px;
    }

    /* nav */
    .header__container{
        width: calc(100% - 50px);
    }

    .header__logo{
        display: none;
    }

    .nav__hamburger{
        display: block;
    }

    .nav__container{
        height: 30px;
        width: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        position: relative;
    }

    .nav__hidden-btn{
        display: block;
        width: 50px;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 10;
    }
    
    .nav__list{
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        transform: translateX(100%);
        transition: transform .5s linear;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

    .nav__item{
        margin-left: 0;
        margin-top: 10px;
    }
    .nav__item:first-of-type{
        margin-top: 0;
    }

    .nav__hidden-btn:checked ~ .nav__list{
        transform: translateX(0px);
    }

    /* index page */
    .video__container{
        display: none;
    }

    .aside__container{
        margin: 2em 0;
    }

    .article__product-article{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .article__image{
        order: 3;
    }
	.article__intro{
        order: 1;
    }
	.article__text{
        order: 2;
    }
    
    .article__image{
        float: unset;
    }
    /* howsolarworks page */

    .grid__layout-howsolarworks{
        display: grid;
        grid-template-columns: calc(100% - 50px) 50px;
    }
    
    .header__howsolarworks{
        grid-column: 1/2;
        grid-row: 1/3;
        margin-bottom: 30px;
    }

    .nav__howsolarworks{
        grid-column: 2/3;
        grid-row: 1/3;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        position: relative;
    }

    .nav__hidden-btn-right{
        left: unset;
        right: 0;
    }
    
    #article__1{
        grid-column: 1/3;
        grid-row: 12/15;
    }
    #article__2{
        grid-column: 1/3;
        grid-row: 9/12;
    }
    #article__3{
        grid-column: 1/3;
        grid-row: 6/9;
    }
    #article__5{
        grid-column: 1/3;
        grid-row: 3/6;
    }
    #article__6{
        display: none;
    }
    
    .howsolarworks__aside{
        grid-row: 16/17;
        grid-column: 1/3;
        margin-bottom: 10px;
    }
    
    .howsolarworks__aside:first-of-type{
        grid-row: 15/16;
        grid-column: 1/3;
        margin-top: 10px;
    }

    
    .howsolarworks__aside:last-of-type{
        display: block;
        grid-row: 17/18;
        grid-column: 1/3;
    }
    
    .howsolarworks__footer {
        grid-column: 1/3;
        grid-row: 18/20;
        width: 100%;
    }

    /* eusolar page */

    .eusolar__table tr td:nth-child(4),
    .eusolar__table tr td:nth-child(5){
        display: none;
    }
    .eusolar__aside-container{
        flex-direction: column;
    }
    
    .eusolar__aside:first-child{
        display: block;
    }
    .eusolar__table-intro-mobile{
        display: block;
        margin: 20px 0;
    }
    
    .eusolar__data-article-container{
        display: none;
    }
    /* contact */
    
    .contact__maincontent{
        grid-template-columns: 1fr;
    }

}

/* mobile */
@media only screen and (max-width: 360px){
    /* eusolar page */
    .eusolar__table{
        font-size: 12px;
    }
    .eusolar__maincontent{
        padding: 2px;
    }
}